.cursor {
    color: #7289da;
}

.cursor:hover {
    color: #ff914d;
    cursor: pointer;
}

.letters-spacing{
    letter-spacing: 2px;
}

.contact-label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.contact-label > a {
    text-decoration: none;
    color: white;
}

a:-webkit-any-link {
    text-decoration: none;
    color: white;
}

.contact-text {
    margin-left: 10px;
}

.orange-text {
    color: #ff914d;
}

.visibility-hint {
    display: inline-block;
    animation: shake 5s cubic-bezier(.36,.07,.19,.97) both;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
  
@keyframes shake {
    2%, 20% {
      transform: translate3d(-1px, 0, 0);
    }
    
    4%, 16% {
      transform: translate3d(2px, 0, 0);
    }
  
    6%, 10%, 14% {
      transform: translate3d(-4px, 0, 0);
    }
  
    8%, 12% {
      transform: translate3d(4px, 0, 0);
    }

    20% , 100% {
        transform: translate3d(0, 0, 0);
    }
}