.cursor {
    color: #7289da;
}

.cursor:hover {
    color: #ff914d;
    cursor: pointer;
}

.letters-spacing{
    letter-spacing: 2px;
}

.contact-label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.contact-label > a {
    text-decoration: none;
    color: white;
}

a:-webkit-any-link {
    text-decoration: none;
    color: white;
}

.contact-text {
    margin-left: 10px;
}

.orange-text {
    color: #ff914d;
}