.job-title{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 25px;
    letter-spacing: 5px;
    position: relative;
    animation: slide-in-screen-top-to-bot 2s;
}

.job-specialty {
    color: #ff914d;
}

.download-icon {
    display: flex;
    justify-content: end;
    margin-right: 30px;
    position: relative;
    animation: slide-in-screen-right-to-left 2s;
}

.download-button {
    text-decoration: none;
    background-color: #23272a;
    border: none;
}

.print-button-descr {
    font-size: small;
}

@keyframes slide-in-screen-top-to-bot {
    0% {
      top: -2000px;
    }
    80% {
        top: 15px;
    }
    100% {
      top: 0px;
    }
}

@keyframes slide-in-screen-right-to-left {
    0% {
      right: -2000px;
    }
    100% {
      right: 0px;
    }
  }

@media print {
    .download-icon {
        display: none;
    }
}

@media screen and (max-width: 490px){
    .download-icon {
        display: none;
    }
}