.header-full-name {
    display: flex;
    justify-content: center;
    background-color: #7289da;
    margin-top: 30px;
}

.header-gt {
    font-weight: bolder;
    font-size: 45px;
    color: #23272a;
    margin-left: 10px;
}

.header-name {
    font-weight: bold;
    font-size: 45px;
    letter-spacing: 11px;
}

.cursor-class {
    color: #7289da;
}