body {
  background-color: #23272a;
  color:#ffff;
}

.font-family-arimo {
  font-family: 'Arimo', sans-serif;
}

.font-family-fira {
  font-family: 'Fira Code', monospace;
}

.body {
  display: grid;
  grid-template-columns: 0.55fr 2fr;
  grid-column-gap: 10px;
}

.header{
  margin-bottom: 10px;
}

.font-link {
  font-family: 'Open Sans', sans-serif;
}

.left-panel {
  grid-column: 1;
  overflow-wrap: break-word;
  margin-left: 50px;
  position: relative;
  animation: slide-in-screen-left-to-right 2s;
}

.right-panel {
  grid-column: 2;
  overflow-wrap: break-word;
  margin-right: 30px;
  position: relative;
  animation: slide-in-screen-right-to-left 2s;
}

@keyframes slide-in-screen-left-to-right {
  0% {
    left: -400px;
  }
  100% {
    left: 0px;
  }
}

@keyframes slide-in-screen-right-to-left {
  0% {
    right: -2000px;
  }
  100% {
    right: 0px;
  }
}

@media screen and (max-width: 830px) {
  .header-gt{
    font-size: 30px !important;
  } 

  .header-name {
    font-size: 30px !important;
  }
}

@media screen and (max-width: 780px) {
   .body {
      display: flex;
      flex-direction: column;
   }

   .left-panel{
      margin-left: 10px;
   }

   .right-panel {
      margin-right: 5px;
      margin-left: 5px;
   }
}

@media screen and (max-width: 490px){
  .job-title{
    justify-content: baseline !important;
    font-size: 15px !important;
  }
}

@media screen and (max-width: 390px){
  .header-gt{
    font-size: 25px !important;
  } 

  .header-name {
    font-size: 25px !important;
  }
}