body {
  background-color: #23272a;
  color:#ffff;
}

.font-family-arimo {
  font-family: 'Arimo', sans-serif;
}

.font-family-fira {
  font-family: 'Fira Code', monospace;
}

.body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 10px;
}

.header{
  margin-bottom: 10px;
}

.font-link {
  font-family: 'Open Sans', sans-serif;
}

.left-panel {
  grid-column: 1;
  overflow-wrap: break-word;
  margin-left: 50px;
}

.right-panel {
  grid-column: 2;
  overflow-wrap: break-word;
  margin-right: 30px;
}